<h3> Examplydoos </h3>

{{#each model as |example|}}
<li>{{#link-to 'examples.example' example}}Example {{example.id}}{{/link-to}} </li>
{{/each}}

{{create-example-form createExample='addExample'}}

{{outlet}}
